<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="uma3_.SLDASM2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00068902135107432 -0.00213666483014015 0.00463775138846095"
        rpy="0 0 0" />
      <mass
        value="2.10772457717204" />
      <inertia
        ixx="0.00603833496981184"
        ixy="1.1238804407543E-05"
        ixz="2.13754375605216E-07"
        iyy="0.00676008999986549"
        iyz="-1.75697840055475E-06"
        izz="0.00908172711118075" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="operator_Link">
    <inertial>
      <origin
        xyz="-0.0531243452638705 0.00298819220580339 -0.0312558802357268"
        rpy="0 0 0" />
      <mass
        value="1.53399501100992" />
      <inertia
        ixx="0.00491688885314046"
        ixy="9.20542943490694E-05"
        ixz="-0.000713706450764484"
        iyy="0.0103291597910716"
        iyz="1.20641248504918E-05"
        izz="0.00573955793911007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/operator_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/operator_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="operator_1_joint"
    type="revolute">
    <origin
      xyz="0.000870575084399361 0.000171621257114271 0.0284550617303106"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="operator_Link" />
    <axis
      xyz="-0.016990083887519 -0.999855658107456 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="end_Link">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 -5.55111512312578E-17 -0.000499999999999723"
        rpy="0 0 0" />
      <mass
        value="3.14159265358975E-06" />
      <inertia
        ixx="1.04719755119657E-12"
        ixy="1.57772181044202E-28"
        ixz="7.11868080871441E-27"
        iyy="1.04719755119657E-12"
        iyz="-3.45205532124715E-27"
        izz="1.57079632679487E-12" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/end_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/end_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_Link"
    type="fixed">
    <origin
      xyz="0.832190790551214 -0.0141410330369185 0.480534938269667"
      rpy="0 1.04719755119663 -0.0169909387168526" />
    <parent
      link="operator_Link" />
    <child
      link="end_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_Link">
    <inertial>
      <origin
        xyz="-0.00365419302233794 0.00111201751943288 0.0124721732457615"
        rpy="0 0 0" />
      <mass
        value="1.26688452104529" />
      <inertia
        ixx="0.000763733472954808"
        ixy="1.13413097303629E-05"
        ixz="2.05599740221816E-07"
        iyy="0.000114529882738913"
        iyz="-4.07893247234863E-08"
        izz="0.000771598660007462" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/camera_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/camera_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="depth_optical_frame"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="-1.570796 0 -1.570796"/>
    <parent
      link="camera_Link" />
    <child
      link="depth_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="depth_optical_frame">
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="-0.1084 0.001842 0.21154"
      rpy="0 -0.5236 -0.016991" />
    <parent
      link="operator_Link" />
    <child
      link="camera_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rotor1_Link">
    <inertial>
      <origin
        xyz="0.00126919959900651 0.000215034464258329 -0.000505322017707865"
        rpy="0 0 0" />
      <mass
        value="0.0159144165937803" />
      <inertia
        ixx="0.0001937447681376"
        ixy="5.85651161711849E-05"
        ixz="-3.66233002048708E-05"
        iyy="7.94267135511764E-05"
        iyz="8.67840947223066E-05"
        izz="0.000165215889863441" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_0_joint"
    type="revolute">
    <origin
      xyz="0.44207 0.2778 0.033856"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor1_Link" />
    <axis
      xyz="-0.25 0.43301 0.86603" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rotor2_Link">
    <inertial>
      <origin
        xyz="0.000229103691855054 0.00102773256709199 -0.000896447295623631"
        rpy="0 0 0" />
      <mass
        value="0.0159143233965928" />
      <inertia
        ixx="0.000101186501350833"
        ixy="8.46794103771876E-05"
        ixz="6.8123374442065E-05"
        iyy="0.000157350283718263"
        iyz="-4.88877757291669E-05"
        izz="0.000179846749999733" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_1_joint"
    type="revolute">
    <origin
      xyz="0.019547 0.52175 0.033856"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor2_Link" />
    <axis
      xyz="0.5 0 0.86603" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rotor3_Link">
    <inertial>
      <origin
        xyz="0.000358061561857248 0.00133569499799241 7.03679676947178E-06"
        rpy="0 0 0" />
      <mass
        value="0.0159143198305425" />
      <inertia
        ixx="1.96957184827096E-05"
        ixy="5.28965028950741E-05"
        ixz="-3.11371809864221E-05"
        iyy="0.000204524314725846"
        iyz="7.94496451260278E-06"
        izz="0.000214162870850251" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_2_joint"
    type="revolute">
    <origin
      xyz="-0.46162 0.24395 0.033856"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor3_Link" />
    <axis
      xyz="-0.25 -0.43301 0.86603" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rotor4_Link">
    <inertial>
      <origin
        xyz="-0.000700003465913479 -0.0011215765182972 -0.000405456856453768"
        rpy="0 0 0" />
      <mass
        value="0.0159142814024756" />
      <inertia
        ixx="0.000124378766411408"
        ixy="8.30036275058268E-05"
        ixz="-6.88692098313988E-05"
        iyy="0.000145184276908605"
        iyz="6.09561317741376E-05"
        izz="0.000168819044444452" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_3_joint"
    type="revolute">
    <origin
      xyz="-0.46162 -0.24395 0.033856"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor4_Link" />
    <axis
      xyz="-0.25 0.43301 0.86603" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rotor5_Link">
    <inertial>
      <origin
        xyz="0.000182409255598343 -0.00105980024350483 -0.00086950315847964"
        rpy="0 0 0" />
      <mass
        value="0.0159143909446094" />
      <inertia
        ixx="9.47636643093639E-05"
        ixy="-8.06362557574493E-05"
        ixz="7.183236381778E-05"
        iyy="0.000165915502100239"
        iyz="4.65536520457764E-05"
        izz="0.000177706037137384" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor5_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor5_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_4_joint"
    type="revolute">
    <origin
      xyz="0.019547 -0.52175 0.033856"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor5_Link" />
    <axis
      xyz="0.5 0 0.86603" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rotor6_Link">
    <inertial>
      <origin
        xyz="-2.69532634351588E-05 -0.00076261912008696 -0.00115326591621982"
        rpy="0 0 0" />
      <mass
        value="0.0159142602415204" />
      <inertia
        ixx="1.96957477976555E-05"
        ixy="5.28971915127008E-05"
        ixz="-3.11368458873026E-05"
        iyy="0.000204526381148609"
        iyz="7.94285272056076E-06"
        izz="0.000214159153809705" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor6_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://uam_control_interface/urdf/mesh/rotor6_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_5_joint"
    type="revolute">
    <origin
      xyz="0.442073608231067 -0.277801787065658 0.0338557055276746"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor6_Link" />
    <axis
      xyz="-0.250000000000029 -0.433012701892223 0.866025403784428" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>
</robot>